@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1152px;
    margin: 0 auto
}


.img {
    height: 23px;
}



a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 1152px;
    height: 50px;
    left: 0px;
    background: #F5F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.ul {
    display: flex;
}

.nav-li {
    margin-right: 20px;

}

.b-btn {
    width: 58px;
    height: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11pcx;
    display: flex;
    padding: 5px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: black;
}

.nav-li {
    list-style-type: none;
    color: #777;
}

.nav-li:hover {
    position: relative;
    bottom: 2px;
    transform: scale(1.1);
    color: #222;

}

h1 {

    width: 587px;
    height: 32px;
    margin-left: 253px;
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 42px;
    margin-top: 56px;
}

p {
    width: 120px;
    height: 28px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #9F9F9F;
}

.btns {
    width: 65.06px;
    height: 30px;
    left: 253px;
    border-radius: 3px 0px 0px 3px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.b-active {
    background-color: darkviolet;
    transition: 0.5s;
}

.ii {
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

input {
    width: 100%;
    height: 30%;
    padding-left: 5px;
    border-style: none;
}

.dd {
    margin-top: 33px;
    display: flex;
    margin-left: 256px;
}

.dd2 {
    margin-left: 123px;
}